*, *::after, *::before {
    box-sizing: border-box;
    font-family: Helvetica, sans-serif;
}

body {
    margin:0;
    padding-left:50px;
    display: flex;
    justify-content: left;
    align-items: center;
    height: 100vh;
    width: 100vw;
    background-image:url(fs.png);
    background-size: cover;
}

.container {
    width: 1000px;
    max-width: 80%;
    background-color: rgba(255, 255, 255, 0.4);
    backdrop-filter: blur(10px);
    border:1px solid hsl(192, 3%, 36%);
    border-top: 1px solid rgba(225, 225, 225, 0.473);
    border-right: 1px solid rgba(225, 225, 225, 0.473);
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 0 10px, 25px;
    font-size: 40px;
}

.btn-grid {
    display: grid;
    grid-template-columns: repeat(2, auto);
    gap: 10px;
    margin-top: 20px;
}

.btn {
    background-color:hsla(200, 100%, 50%, 0.4);
    border:1px solid hsl(200, 100%, 30%);
    backdrop-filter: blur(10px);
    border-top: 1px solid rgba(225, 225, 225, 0.473);
    border-right: 1px solid rgba(225, 225, 225, 0.473);
    border-radius: 20px;
    padding:5px 10px;
    color:rgb(16, 16, 16);
    outline:none;
    transition: 100ms
}

.btn:hover{
    scale: 1.05;
    cursor: pointer;
}

.e {
    animation: fadeIn 1.2s ease-in-out;
}

@keyframes fadeIn {
    from {opacity: 0}
    to {opacity: 1}
}